name: CI Pipeline

on:
  pull_request:
    branches: [ "main" ]

  schedule:
    - cron: '15 12 * * *'

  workflow_dispatch:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore API project dependencies
      run: dotnet restore APITesting.sln
        
    - name: Build API project
      run: dotnet build APITesting.sln --no-restore
    
    - name: Run API tests
      run: dotnet test APITesting.sln --no-build --verbosity normal

    - name: List files in bin directory
      run: ls -R /home/runner/work/api-tests/api-tests/APITesting/bin/

    - name: Upload API test results
      uses: actions/upload-artifact@v3
      with:
        name: api-test-results
        path: ./TestResults/

  ui-tests:
    runs-on: ubuntu-latest
    needs: api-tests
    if: always()  # This ensures that UI tests run regardless of the API test results

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore UI project dependencies
      run: dotnet restore WebUI.sln
        
    - name: Build UI project
      run: dotnet build WebUI.sln --no-restore
    
    - name: Run UI tests
      run: dotnet test WebUI.sln --no-build --verbosity normal

    - name: Upload UI test results
      uses: actions/upload-artifact@v3
      with:
        name: ui-test-results
        path: ./TestResults/

    - name: Upload API test logs
      uses: actions/upload-artifact@v3
      with:
        name: api-test-logs
        path: /home/runner/work/api-tests/api-tests/APITesting/bin/Debug/net6.0/Logs
